experimental_monorepo_root = true
[settings]
task.monorepo_depth = 3  # Only search 2 levels deep
[tools]
python = "latest"
zig = "latest"
bun = "latest"
node = "latest"
rust = "latest"
"cargo:psenv" = "latest"
[env]
# AWS ECR registry
ECR_REGISTRY = "912951144733.dkr.ecr.us-west-2.amazonaws.com"

[tasks]
# 初始化
build = 'pnpm --filter "./js-apps/*" build'
clean = 'pnpm --filter "./js-apps/*" clean'
"dev:hono" = 'pnpm --filter "hono-demo" dev'
dev = 'pnpm --filter "./js-apps/*" dev'
format = 'prettier --write "**/*.{ts,tsx,md}"'
lint = 'pnpm --filter "./js-apps/*" lint'
test = 'pnpm --filter "./js-apps/*" test'
"init:network" = 'docker network create shared'
"up:postgres" = 'cd infra-apps/postgres && docker compose up'
"down:postgres" = 'cd infra-apps/postgres && docker compose down'
"up:caddy" = 'cd infra-apps/caddy && docker compose up'
"down:caddy" = 'cd infra-apps/caddy && docker compose down'
"up:redis" = 'cd infra-apps/redis && docker compose up'
"down:redis" = 'cd infra-apps/redis && docker compose down'
"build:psenv" = 'cd rust-packages/psenv && cargo build --release'
"env:postgres" = 'cd infra-apps/postgres && psenv -t .env.example -p "/studio-dev/" -o .env'
"env:redis" = 'cd infra-apps/redis && psenv -t .env.example -p "/studio-dev/" -o .env'
"env:hono" = 'cd js-apps/hono-demo && psenv -t .env.example -p "/studio-dev/" -o .env'
"env:backup" = 'cd infra-apps/backup && psenv -t .env.example -p "/studio-dev/" -o .env'
"db:admin:migrations" = "cd infra-apps/db-admin && docker compose run --rm db-admin"
"db" = "cd infra-apps/postgres && docker compose exec postgres psql -U postgres"
"migrate" = 'pnpm --filter "./js-apps/*" migrate'
"install" = 'pnpm --filter "./js-apps/*" install'
serve = 'pnpm --filter "./js-apps/*" start'


[tasks.init]
depends = ["init:network"]

[tasks.up]
depends = ["up:postgres", "up:caddy", "up:redis"]

[tasks."db:admin"]
depends = ["db:admin:migrations"]


[tasks.down]
depends = ["down:postgres", "down:caddy", "down:redis"]

[tasks.env]
depends = ["env:postgres","env:redis","env:hono","env:backup"]
